#################
## Eclipse + IDEA
#################

*.pydevproject
.project
.metadata
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.classpath
.settings/
.loadpath

# External tool builders
.externalToolBuilders/

# Locally stored "Eclipse launch configurations"
*.launch

# CDT-specific
.cproject

# PDT-specific
.buildpath

.idea/*

############
## Windows
############

# Windows image file caches
Thumbs.db

# Folder config file
Desktop.ini

############
## Gradle
############

.gradle
build/
gradle-app.setting
!gradle-wrapper.jar
.gradletasknamecache

#################
## jClipCorn
#################

ClipCornDB/
ClipCornDB*/
data/
jClipCorn_backup/
mybuilds/
# javadoc/
jClipCorn_backup/
bin*/

DerbManager*.jar

*.bat

*.log
jClipCorn.*
jClipcorn.*
jclipcorn.*
*.lnk
*.avi
*.mkv
*.exe
*.7z
*.zip
*.jxmlbkp

jClipCornPermissionTest.emptyfile

jClipCorn Wiki
jClipCorn Wiki/*
